/* font-family: "HelveticaLTStd-Light"; */
@font-face {
    font-family: 'HelveticaLTStd-Light';
    src: local('HelveticaLTStd-Light'),
    url("../font/Helvetica/HelveticaLTStd-Light.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaLTStd-Bold"; */
@font-face {
    font-family: 'HelveticaLTStd-Bold';
    src: local('HelveticaLTStd-Bold'),
    url("../font/Helvetica/HelveticaLTStd-Bold.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaLTStd-Roman"; */
@font-face {
    font-family: 'HelveticaLTStd-Roman';
    src: local('HelveticaLTStd-Roman'),
    url("../font/Helvetica/HelveticaLTStd-Roman.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaNeueLTStd-Roman"; */
@font-face {
    font-family: 'HelveticaNeueLTStd-Roman';
    src: local('HelveticaNeueLTStd-Roman'),
    url("../font/Helvetica/HelveticaNeueLTStd-Roman.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaNeueLTStd-Bd; */
@font-face {
    font-family: 'HelveticaNeueLTStd-Bd';
    src: local('HelveticaNeueLTStd-Bd'),
    url("../font/Helvetica/HelveticaNeueLTStd-Bd.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaNeueLTStd-Lt; */
@font-face {
    font-family: 'HelveticaNeueLTStd-Lt';
    src: local('HelveticaNeueLTStd-Lt'),
    url("../font/Helvetica/HelveticaNeueLTStd-Lt.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
